!!! XML
!!!
%html{html_attrs('fr-fr')}
  %head
    %meta{ :content=>"text/html; charset=windows-utf-8", :'http-equiv'=>"content-type"}
    %link{ :rel => "stylesheet" , :href=>"bootstrap.min.css"}
    %link{ :rel => "stylesheet" , :href=>"google-code-prettify/prettify.css"}
    %link{ :rel => "stylesheet" , :href=>"style.css"}
    %script{ :src => "jquery-2.1.1.min.js"}
    %script{ :src => "bootstrap.min.js"}
    %script{ :src => "google-code-prettify/prettify.js"}
    
  %body.row
    %nav.col-xs-3.bs-docs-sidebar
      %ul.nav.nav-stacked.fixed#sidebar
        %li 
          %a{:href => "#api"}API
          %ul.nav.nav-stacked
            %li
              %a{:href => "#api.introduction"}Introduction
          -#
            <ul class="nav nav-stacked ">
              <li><a href="#api.introduction">Introduction</a></li>
              <li><a href="#api.authentification">Authentification</a></li>
              <li><a href="#api.signature">Signature</a></li>
              <li><a href="#api.reponses">Réponses</a></li>
              <li><a href="#api.pagination">Pagination</a></li>
              <li><a href="#api.versionning">Versionning</a></li>
              <li><a href="#api.metadata">Metadata</a></li>
            </ul>
            </li>


    %h1
      %toto
        yeah